body {
    margin: 1px;
    width: 1500px;
    height: 1000px;
}
.br-box {
    box-sizing: border-box;
}

.position1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: -2.78%;
    bottom: 71.69%;
}
.position2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 43%;
    bottom: 71.69%;
}

.bgcol {
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    width: 100%;
    height: 100%;
}